[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule "plugins/oh-my-zsh"]
	path = plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
